<%- include('partials/head') %>

<!-- <% if(resposta.totalItems > 0) { %>
    <h2>seu clima encontrados</h2>

    <% for(item of resposta.items) {
        const livro = item.volumeInfo;
        let autores = "";
        if (livro.authors){
            for (let i = 0; i < livro.authors.length; i++){
                autores += livro.authors[i];
                if(i < livro.authors.length - 1) {
                    autores += ', ';
                } else {
                    autores += '.';
                }
            }
        }
    %>

    <div class="livro">
        <img src="<%= livro.imageLinks ? livro.imageLinks.thumbnail : 'imgs/transparent.png' %>">
        <p>Título: <%= livro.title %></p>
        <p>Autores: <%= autores %></p>
        <div>
            <% if(livro.industryIdentifiers) { 
                for (isbn of livro.industryIdentifiers) { %>
                    <p><%=isbn.type%>: <%=isbn.identifier%>.</p>
                <%} 
            } %>
        </div>
    </div>

    <% } %>

<% } else { %>
    <h2>Nenhum livro encontrado</h2>
<% } %> -->

seu clima:<%=resposta.results.temp%><br>
tempo: <%=resposta.results.description%>

<a href="/"><p id="voltar">Voltar</p></a>
<%- include('partials/footer') %>