<%-include('partials/head') %>
<%-include('partials/header') %>


<main class="container index ">
  <div class="md-3 mb-3 mt-3 meuindex">
    <div class="m-3">
      <% for(artigo of artigos){%>
        <div class="linha">
        <p class="data"><%=artigo.criado%></p>
        <h1 class="display-4"><%=artigo.titulo %></h1>
        <p class="lead my-3"><%=artigo.conteudo%></p>
      </div>
    <%}%>
     
     
   
    </div>
  </div>

  

</main>


<%-include('partials/footer') %>

    
  </body>
</html>
